#receita-n-4{
    margin-top: 550px;
}

ul#galeria-receitas{
    top: 130px;
    list-style: none;
    width: 100px;
    margin: 0 auto;
    padding: 5px;
    list-style: none;
    left: 15%;
    position: absolute;

    
}
#foto-galeria-4{
    background: url(../_imagens/receita-torta-salgada.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 170px 170px;
    background-color: #ffffff;
    z-index: +1;
    border-radius: 50%;


}
#foto-galeria-5{
    background: url(../_imagens/receitas-caldo-frango1920x640.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 170px 170px;
    background-color: #ffffff;
    z-index: +1;
    border-radius: 50%;

}
#foto-galeria-6{
    background: url(../_imagens/receitas-lasanha_bolonhesa.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 350px 350px;
    background-color: #ffffff;
    z-index: +2;
    border-radius: 50%;
}

#foto-galeria-4:hover ~ div#receita-4{
    display: block;
    background: url(../_imagens/fundo-torta-de-frango.jpg);
    z-index: +1;
    left: 300px;

}
#foto-galeria-5:hover ~ div#receita-5{
    display: block;
    background: url(../_imagens/fundo-caldo-de-frango.jpg);
    z-index: +1;
    left: 300px;

}
#foto-galeria-6:hover ~ div#receita-6{
    display: block;
    background: url(../_imagens/fundo-lasanha-a-bolonhesa.jpg);
    left: 300px;
    z-index: +1;

}
ul#galeria-receitas li{
    float: left;
    width: 170px;
    height: 170px;
    margin: 1px;
    margin-bottom: 1px;
    border: solid 2px #ffffff;
    background-color: white;
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in;
}
